@media screen and (max-width: 900px) {
    html, body {
        overflow-x: hidden;
        width: 100%;
    }

    .contenedor-marca {
        top: 5%;
    }

    .hero img {
        content: url('/assets/img/hero-mobile.jpg');
        object-fit: cover;
        height: 100%; 
    }

    .segundoHero {
        display: none;
    }

    .salto-mediano {
        display: none;
    }

    .contenedor-derecho-info {
        width: 100%;
        padding: 20px;
    }

    .foto-escudo {
        display: none;
    }

    .seccion-about-us .contenedor-derecho-info {
        width: 90%;
        align-items: center;
    }

    .logo-inferior {
        display: none;
    }

    .titulo-grande {
        align-items: center;
        text-align: center;
        font-size: 42px;
    }

    .pos-1, .pos-2, .pos-3 {
        margin-left: 0;
        align-self: center;
    }

    .contenedor-derecho-info .parrafo {
        padding: 15px 0;
        font-size: 17px;
        text-align: justify;
        line-height: 1.6;
    }

    .pantalla-menu {
        padding-left: 0;
        justify-content: center;
    }

    .contenedor-menu-total {
        flex-direction: column;
        text-align: center;
    }

    .cuadrado-menu {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }

    .item-menu {
        font-size: 40px;
        text-align: center;
    }

    .aside-menu {
        position: static;
        width: 100%;
        text-align: center;
        margin-top: 40px;
    }

    .aside-menu a {
        text-align: center;
        margin-bottom: 10px;
    }

    .titulo-aside {
        text-align: center;
    }

    .bloque-cartas {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 20px;
    }

    .seccion-galeria .mosaico {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .mosaico .foto {
        width: 100%;
        height: 250px;
    }
}
