html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

/* ESPACIO */
.salto-mediano {
    height: 150px;
}

/* Logo y lettering */
.contenedor-marca {
    position: absolute;
    top: 70px;
    left: 90px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.imagen-logo { width: 60px; }
.imagen-letras { 
    width: 120px; 
    position: relative; 
    top: 2px; 
    left: -11px; 
}

/* Dos líneas */
#control-menu { display: none; }

.boton-hamburguesa {
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 1001;
    cursor: pointer;
}

.barras {
    width: 30px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linea {
    width: 100%;
    height: 2px;
    background-color: rgb(227, 227, 227);
    transition: 0.3s ease;
}

/* X */
#control-menu:checked + .boton-hamburguesa .arriba { transform: rotate(-45deg) translateY(10px); }
#control-menu:checked + .boton-hamburguesa .abajo { transform: rotate(45deg) translateY(-10px); }

/* FONDO DE MENÚ */
.pantalla-menu {
    position: fixed;
    inset: 0;
    background-color: #687C7B; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    transform: scale(0); 
    
    /* DESPLIEGUE MENÚ */
    transform-origin: top left; 
    border-bottom-right-radius: 70%;
    
    visibility: hidden;
    transition: transform 0.3s cubic-bezier(0.77, 0, 0.175, 1), 
                border-radius 0.8s ease, 
                visibility 0.9s;
    z-index: 1000;
}

/* Click barras persiana*/
#control-menu:checked ~ .pantalla-menu {
    transform: scale(1);
    border-bottom-right-radius: 0;
    visibility: visible;
}

.contenedor-menu-total {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* CUADRADO PALABRAS */
.cuadrado-menu {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    gap: 60px 30px;
}

.item-menu {
    width:100%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 6px;
    transition: 0.5s;
    text-align: left;
}

/* hover*/
.item-menu:hover {
    opacity: 0.4;
    transform: translateX(10px);
}

/* ASIDE */
.aside-menu {
    position: absolute;
    bottom: 80px;
    right: 80px;
    text-align: right;
    width: 250px;
}

.titulo-aside {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.aside-menu a {
    display: block;
    color: #c0c0c0;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 12px;
    transition: 0.3s;
}

.aside-menu a:hover {
    color: white;
    padding-right: 15px;
}

/* HEROS */
.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.degradado-final { mask-image: linear-gradient(black 90%, transparent); }
.degradado-doble { mask-image: linear-gradient(to bottom, transparent 0%, black 20%, black 80%, transparent 100%); }

/* CARDS HOVER */
.bloque-cartas {
    min-height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.columna { flex: 1; text-align: center; }
.columna h2 { font-size: 40px; opacity: 0.8; margin-top: 20px; }

.carta {
    position: relative;
    width: 300px;
    margin: 0 auto;
    transition: all 0.4s ease;
}

.carta img:first-child {
    width: 100%;
    border-radius: 4px;
}

.carta img:last-child {
    position: absolute;
    width: 250px;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(10%); 
    opacity: 0;
    transition: all 0.4s ease;
}

.carta:hover {
    transform: perspective(250px) rotateX(5deg) translateY(-3%) translateZ(0);
}

.carta::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 1) 95%);
    opacity: 0;
    transition: all 0.5s ease;
    border-radius: 4px;
}

.carta:hover::before { opacity: 1; }
.carta:hover img:last-child { opacity: 1; }

/* SECCIÓN TRABAJADORES */
.seccion-about-us {
    width: 100%;
    height: 90vh;
    background-color: #fdf8f0;
    position: relative;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.foto-izquierda {
    width: 500px;
    margin-left: 200px;
}

.foto-escudo {
    width: 80px;
    position: absolute;
    top: 40px;
    right: 100px;
}

/* Título */
.titulo-grande {
    font-family: Garamond, serif;
    font-size: 80px;
    position: absolute;
}

.pos-1 { top: 50px; right: 470px; }
.pos-2 { top: 120px; right: 300px; }
.pos-3 { top: 190px; right: 80px; }

/* Parrafos */
.parrafo {
    font-family: 'Times New Roman', serif;
    font-size: 24px;
    position: absolute;
    width: 800px; 
    bottom: 150px;
    right: 80px;
}

.logo-inferior {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    align-items: center;
}


/* GALERIA */
.seccion-galeria {
    padding: 100px 80px;
    background-color: black;
}

.titulo-seccion {
    font-size: 60px;
    letter-spacing: 8px;
    margin-bottom: 50px;
    text-align: center;
    opacity: 0.8;
}

.mosaico {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 20px;
}

.foto {
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
    
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: grayscale(100%);
    transition: 0.8s ease;
}

.foto:hover img {
    filter: grayscale(0%);
    transform: scale(1.03); 
}

.item-1 { grid-column: span 2; grid-row: span 2; }
.item-2 { grid-column: span 2; }
.item-3 { grid-column: span 1; }
.item-4 { grid-column: span 1; }